* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Righteous", cursive;
}
html {
  background-color: #353353;
}
body {
  width: 100%;
  display: flex;
  
}
aside {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  flex-basis: 300px;
  width: 280px;
  height: 100vh;
  background-color: #353353;
  border-right: 1px solid #6e6e6e;
  transition: all 0.5s;
}

aside.active {
  transition: 0.5s;
  transform: translateX(0);
}



aside .aside-wrapper {
  position: relative;
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
aside .logo a {
    text-decoration: none;
}
aside .logo span {
  font-family: "Permanent Marker", cursive;
  font-size: 40px;
  color: white;
  letter-spacing: 2px;
  
}

aside .logo span:after {
  display: block;
  content: "";
  width: 190px;
  border-bottom: solid 3px #f65050;
  animation: underbar 1s ease-in-out;
  margin-top: -5px;
}
aside .navbar ul a {
  color: white;
  font-family: "Righteous", cursive;
  font-size: 20px;
  text-decoration: none;
}
aside .navbar ul a li {
  margin: 10px 0;
}
aside .navbar ul a li:hover {
  color: #da911b;
}
aside .navbar ul a li .bi {
  color: #da911b;
  margin-right: 10px;
}

aside footer {
  color: grey;
}


main {
  width: 100%;
  margin-left: 280px;
  transition: all 0.5s;
}
main.active {
  transform: translateX(280px);
  transition: 0.5s;
}
main.active .section1,
main.active .section2,
main.active .section3,
main.active .section4
 {
  opacity: 0.6;
}

main .phone-nav {
  background-color: #353353;
  
  padding-left: 10px;
  display: none;
}
main .phone-nav .bi-list {
  font-size: 40px;
  color: white;
  cursor: pointer;

}
main .phone-nav a {
  text-decoration: none;
}

main .phone-nav .hide-name {
  font-family: "Permanent Marker", cursive;
  font-size: 40px;
  color: white;
  letter-spacing: 2px;
  margin-left: 10px;
}



main .section1 {
  background-color: #353353;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform-style: preserve-3d;
  perspective: 200px;
}


main .section1-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
}
main .section1 .section1-box .avatar {
  width: 130px;
  height: 130px;
  background: url("./img/avatar2.png") no-repeat center 5px/110%;
  

  background-color: #da911b;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
main .section1 .section1-box .avatar img {
  width: 100px;
  height: 100px;
}

main .section1-box .name {
  font-size: 40px;
  color: #fff;
  text-align: center;
  font-family: "Poor Story", cursive;
  letter-spacing: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}
main .section1-box .explain {
  font-size: 20px;
  color: #fff;
  text-align: center;
  font-family: "Righteous", cursive;
}
main .section1-box .explain .text-rotating {
  font-size: 24px;
  display: inline-block;
  animation: bounce 1s;
}
main .section1-box .logos {
  width: 200px;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}
main .section1-box .logos a {
  font-size: 26px;
  color: white;
}
main .section1-box .logos a:hover {
  color: #da911b;
}

main .section1-box .contact-btn a {
  width: 140px;
  height: 45px;
  text-align: center;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7b47f3;
  border-radius: 30px;
  color: #fff;
  font-family: "Righteous", cursive;
  letter-spacing: 3px;
  text-decoration: none;
}

main .section1 .parallax {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  perspective: 200px;
 
  
}
main .section1 .parallax svg {
  display: block;
  width: 50px;
  height: 40px;
  transform-style: preserve-3d;
  perspective: 200px;
  transition: 0.1s;
  
}

main .section1 .parallax .layer1 {
  position: relative;
  top: 10%;
  left: 10%;
}
main .section1 .parallax .layer2 {
  position: relative;
  top: 10%;
  left: 50%;
  
}
main .section1 .parallax .layer3 {
  position: relative;
  top: 0%;
  left: 90%;
}
main .section1 .parallax .layer4 {
  position: relative;
  top: 20%;
  left: 30%;
  
}
main .section1 .parallax .layer5 {
  position: relative;
  top: 20%;
  left: 70%;
}
main .section1 .parallax .layer6 {
  position: relative;
  top: 40%;
  left: 15%;
 
}
main .section1 .parallax .layer7 {
  position: relative;
  top: 25%;
  left: 85%;
}

main .section1 .parallax .layer8 {
  position: relative;
  top: 55%;
  left: 25%;
 
  
}
main .section1 .parallax .layer9 {
  position: relative;
  top: 50%;
  left: 55%;
}
main .section1 .parallax .layer10 {
  position: relative;
  top: 40%;
  left: 80%;
  
  
 
}
main .section2 {
  background-color:#f9f9ff;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

main .section2 .container {
  width: 70%;
  height: 100%;
}


main .section2 .container .about-me h1{
    opacity: 1;
}

main .section2 .container .avatar-wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}
main .section2 .container .avatar {
  width: 150px;
  min-width: 120px;
  height: 150px;
  background: url("./img/avatar2.png") no-repeat center 5px/110%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

main .section2 .container .avatar-wrapper .content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Serif KR', serif;
  min-width: 325px;
  font-size: 16px;
  line-height: 2;
  position: relative;
  padding: 20px;
  background-color: #fafafa;
  z-index: 2;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

main .section2 .container .avatar-wrapper .content::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 15px solid #fff;
  position: absolute;
  left: -15px;
  top: 20%;
}

main .section2 .container .skills {
  margin-top: 50px;
}

main .section2 .container .skills .basic {
  margin-bottom: 50px;
  padding: 20px;
  background-color: #fafafa;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

main .section2 .container .skills .progress-bar {
    font-family: "Poor Story", cursive;

}


/* section3 projects */
main .section3 {
  background-color:#f9f9ff;
  display: flex;
  justify-content: center;
  padding-top: 100px;

}
main .section3 .container {
    width: 70%;
    height: 100%;
}

main .section2 .container .project--h1{
    opacity: 1;
}
main .section3 .container .grid-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(300px, auto);
    gap: 20px 20px;
    

   
}

main .section3 .container .grid-container div {
    background-color: #7b47f3;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    
}
main .section3 .container .grid-container div:nth-child(1) {
 background: url('./img/project1.png') no-repeat center / contain;
}
main .section3 .container .grid-container div:nth-child(2) {
  
}




main .section3 .container .grid-container div:nth-child(3) {
    display: none;
}
main .section3 .container .grid-container div:nth-child(4) {
    display: none;
}
main .section3 .container .grid-container div:nth-child(5) {
    display: none;
}
main .section3 .container .grid-container div h1 {
    position:absolute;
    font-family: 'Noto Serif KR', serif;
    color: white;
    display: none;
    text-align: center;
}
main .section3 .container .grid-container div p {
    position: absolute;
    font-family: 'Noto Serif KR', serif;
    color: white;
    display: none;
    font-size: 18px;
    text-align: center;
}


main .section3 .container .grid-container div::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(78, 78, 78, 0.486);
    
    position;:absolute;
    top:0;
    left:0;
    display:none;
    
}

main .section3 .container .grid-container div:hover::after {
    display: block;
}
main .section3 .container .grid-container div:hover h1{
    display: block;
    animation: projectparallax 1s forwards;
}
main .section3 .container .grid-container div:hover p{
    display: block;
    animation: projectparallax2 1s forwards;
    
}

main .section3 .container .load-more {
    margin: 0 auto;
    width: 140px;
  height: 45px;
  text-align: center;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff4c60;
  border-radius: 30px;
  color: #fff;
  font-family: "Righteous", cursive;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}







main .section4 {
    background-color:#f9f9ff;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;

}
main .section4 .container {
    width: 70%;
    height: 100%;
    
}

main .section4 .container .contact-box {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    
}
main .section4 .container .contact-box .content-box{
    min-width: 300px;
    width: 40%;
    height: 200px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    
    
}
main .section4 .container .contact-box .content-box div:nth-child(2) {
  font-family: "Poor Story", cursive;
}

main .section4 .container .contact-box .content-box .bi {
    font-size: 3vw;
    color: #54487c;
    margin-right: 10px;
}

.scroll-top-box {
  position: fixed;
  right: 1%;
  bottom: 1%;
  z-index: 3;
  width: 100px;
  height: 100px;
  display: none;
  cursor: pointer;
}
.scroll-top-box .bi-arrow-up-circle-fill {
  font-size: 42px;
  color: rgba(216, 216, 216, 0.5);
}


@keyframes underbar {
  from {
    transform: scaleX(0);
    transform-origin: 0%;
  }
  to {
    transform: scaleX(1);
    transform-origin: 0% 50%;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  20% {
    transform: translateY(-10px);
  }
  40% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(-5px);
  }
  80% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes parallax {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes projectparallax {
    from {
        transform: translateY(0px);
        opacity: 0;
    }

    to {
        transform: translateY(-50px);
        opacity: 1;
    }
}
@keyframes projectparallax2 {
    from {
        transform: translateY(0px);
        opacity: 0;
    }

    to {
        transform: translateY(20px);
        opacity: 1;
    }
}




@media screen and (max-width:1023px) {










  main .section3 .container .grid-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(300px, auto);
    gap: 20px 20px;    
}

main .section4 .container .contact-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

main .section4 .container .contact-box .content-box {
  width: 80%;
  height: 150px;
  margin-bottom: 30px;
}

  
  }

@media screen and (max-width:767px) {
  /* 모바일 */
  aside {
    transition: transform 0.2s;
    transform: translateX(-280px);
  }



  main {
    width: 100%;
    margin-left: 0px
  }
  main .phone-nav {
    display: block;
  }
  
  main .section2 .container .avatar-wrapper {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main .section2 .container .avatar-wrapper .content {
    margin-top: 20px;
  }

  main .section2 .container .avatar-wrapper .content::before {
    
    position: absolute;
    left: 50%;
    top: -15px;
    transform: rotate(90deg) translateY(50%);
  }

  main .section4 .container .contact-box .content-box {
    font-size: 2rem;
  }


  }